<a href="https://colab.research.google.com/github/Pratiksha34-4patil/Loan_Apporval/blob/main/Loan_Apporval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from google.colab import files
uploaded = files.upload()

Saving loan_approval_dataset.csv to loan_approval_dataset.csv

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("loan_approval_dataset.csv")

In [3]:
# print first five data
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [4]:
df.shape

(4269, 13)

In [5]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [7]:
df.columns = df.columns.str.strip()

In [8]:
x = df.drop("loan_status",axis=1)
y = df["loan_status"]
print(x.columns)
#in this
#y is what we want to predict
#x is the data after we remove the target to aviod data leakage

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [9]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [10]:
#checking the missing values
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [11]:
#train and test split
from sklearn.model_selection import train_test_split

#scikit  - learn , it is one of the most popular python libraries for ML
# this train and test split is to avoid the data leakage

x_train, x_test, y_train, y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=42,
    stratify=y
)
#x_trian - input data for training
#x_test - input data for testing
#y_train - correct answer for training
#Y_test - correct answer for testing

#x_train + y_train - model Learned
#x_test + y_test - model is evaluated

# stratify - like it make sure all classes are
# evenly represented in train and split
# class total -
# pass - 90 fail - 10

# train and test split
# 90 and 10 for train and alsi for test , then we will implement stratify
# stratify - like it make sure all classes are
# evenly represnting  in train and test split
# class total -
# pass - 90 fail - 10

# train and test split
# 90 and 10 for train and also for test, then we will implement stratify.

In [12]:
x_train.shape

(3415, 12)

In [13]:
x_test.shape

(854, 12)

In [14]:
y_train.value_counts(normalize=True)

loan_status
Approved    0.622255
Rejected    0.377745
Name: proportion, dtype: float64

In [15]:
y_test.value_counts()

loan_status
Approved    531
Rejected    323
Name: count, dtype: int64

In [16]:
#the topics we did are:
#model framing
#target identified
#Feature-target Separation
#missing values check_
#train test split using random state and stratify
#verified the split:
#x tarin shape , x test np,shape
#y tarin value y test value

In [17]:
x_train = x_train.drop('loan_id', axis=1)
x_test = x_test.drop('loan_id', axis=1)
# loan id is just an idenifier which has no meaning, if we
# it,the model may learn noise
# removing unnecessary columns from the model train and test

In [18]:
x_train.dtypes

no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [19]:
x_test.dtypes

no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [20]:
#encoding the model x train and x test
# one hot encode  categorical  features

from sklearn.preprocessing import OneHotEncoder

categorical_cols = ["education","self_employed"]
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_cat = ohe.fit_transform(x_train[categorical_cols])
x_test_cat = ohe.transform(x_test[categorical_cols])

# the drop is to remove the redundant columns to aviod dummy
# variable tarp
#sparse in default would store them as a numpy array,
# if false otll give the encoded data as a normal table of
#numbers instead compressing it

In [21]:
x_train_cat.shape

(3415, 2)

In [22]:
np.unique(x_train_cat)

array([0., 1.])

In [23]:
ohe.get_feature_names_out(categorical_cols)

array(['education_ Not Graduate', 'self_employed_ Yes'], dtype=object)

In [24]:
ohe.categories_

[array([' Graduate', ' Not Graduate'], dtype=object),
 array([' No', ' Yes'], dtype=object)]

In [25]:
from sklearn.preprocessing import StandardScaler
numeric_cols = x_train.drop(columns=categorical_cols).columns
scaler = StandardScaler()
x_train_num = scaler.fit_transform(x_train[numeric_cols])
x_test_num = scaler.transform(x_test[numeric_cols])

In [26]:
x_train_num_df = pd.DataFrame(
    x_train_num,
    columns=numeric_cols,
    index=x_train.index
)
x_train_num_df.head()
#x_test_num_df = pd.DataFrame(
#    x_test_num,
#   columns=numeric_cols,
#   index=x_test.index
#   )

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1224,-1.456965,1.700955,0.983585,0.549181,-0.806352,-0.995573,1.942808,0.659076,0.696034
478,0.305326,-0.514765,-0.717129,-0.500709,1.110842,-0.312884,0.216625,-0.582560,0.078226
3065,-0.282104,-1.086564,-1.228455,0.549181,-0.557291,-0.390463,-0.796070,-1.066029,-1.126500
326,-0.282104,-0.407553,-0.417003,0.199218,-0.476201,-0.669744,-1.141306,-0.516632,-0.107117
2991,0.305326,-0.979352,-0.728245,0.199218,-0.238724,-0.592166,-0.819085,-0.978125,-1.126500

In [27]:
x_train_num_df.std()

no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [28]:
x_train_num_df.mean()
x_train_num_df.std()

no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [29]:
x_train_num_df.min(), x_train_num_df.max()

(no_of_dependents           -1.456965
 income_annum               -1.729838
 loan_amount                -1.639738
 loan_term                  -1.550599
 cibil_score                -1.727300
 residential_assets_value   -1.166245
 commercial_assets_value    -1.141306
 luxury_assets_value        -1.626413
 bank_asset_value           -1.528075
 dtype: float64,
 no_of_dependents            1.480187
 income_annum                1.736692
 loan_amount                 2.717647
 loan_term                   1.599072
 cibil_score                 1.747975
 residential_assets_value    3.302260
 commercial_assets_value     3.323755
 luxury_assets_value         2.647892
 bank_asset_value            3.012814
 dtype: float64)

In [30]:
x_train_num_df.min(), x_train_num_df.max()
x_train_num

array([[-1.4569649 ,  1.70095483,  0.98358525, ...,  1.94280818,
         0.65907644,  0.69603363],
       [ 0.30532617, -0.5147654 , -0.71712881, ...,  0.21662466,
        -0.58255989,  0.07822554],
       [-0.28210418, -1.08656417, -1.22845461, ..., -0.79606968,
        -1.0660289 , -1.12650024],
       ...,
       [-0.28210418,  0.62883214,  0.04985988, ..., -0.86511702,
         0.73599196,  1.09760889],
       [-0.86953454,  1.48653029,  1.05027992, ..., -1.14130638,
         0.60413678,  2.5803483 ],
       [ 0.89275653,  0.05703337,  0.36110167, ..., -0.26670673,
        -0.49465643, -0.47780174]])

In [31]:
df.shape

(4269, 13)

In [32]:
x.shape

(4269, 12)

In [33]:
x_train.shape

(3415, 11)

In [34]:
x_train_num_df.shape

(3415, 9)

In [35]:
x_train_cat.shape

(3415, 2)

In [37]:
x_train_cat.shape

(3415, 2)

In [39]:
from sklearn.linear_model import LogisticRegression

x_train_cat_df = pd.DataFrame(x_train_cat, columns=ohe.get_feature_names_out(categorical_cols), index=x_train.index)
x_test_cat_df = pd.DataFrame(x_test_cat, columns=ohe.get_feature_names_out(categorical_cols), index=x_test.index)


x_test_num_df = pd.DataFrame(
    x_test_num,
    columns=numeric_cols,
    index=x_test.index
)

x_train_final = pd.concat([x_train_num_df, x_train_cat_df], axis=1)
x_test_final = pd.concat([x_test_num_df, x_test_cat_df], axis=1)

model = LogisticRegression(max_iter=100)
model.fit(x_train_final ,y_train)

LogisticRegression()

In [41]:
# evaluate accuracy
from sklearn.metrics import accuracy_score

y_pred=model.predict(x_test_final)
accuracy_score(y_test,y_pred)

0.9227166276346604

In [42]:
recap = pd.DataFrame({
    'y_test':y_test,
    'y_pred':y_pred
})